.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-button {
    background-color: #ff0022;
    color: #fff;
    width: 100px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 90px;
  }